.advantages {
    min-height: 470px;
    background-color: #F6F6F6;
    padding: 70px 0 65px 0;
    &__header {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
    }
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__subtitle {
        margin-top: 35px;
        color: #0D0D0D;
        font-weight: 700;
        font-size: 18px;
    }
    &__descr {
        margin-top: 20px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        a {
            color: #FF0000;
            font-weight: 300;
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: underline;
            &:hover {
                color: #0D0D0D;
            }
        }
    }
}